<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Data User</title>
</head>
<body>
  <h1>Data User</h1>
  <a th:href="@{/}">previous page</a><br />
  <form th:action="@{/add}" method="post" th:object="${user}">
    <input type="hidden" name="id" th:field="*{id}">

    <label for="firstName">FirstName: </label><br />
    <input type="text" name="firstName" th:field="*{firstName}">
    <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name is required</span>
    <br />

    <label for="lastName">LastName: </label><br />
    <input type="text" name="lastName" th:field="*{lastName}">
    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name is required</span>
    <br />

    <label for="email">Email: </label><br />
    <input type="text" name="email" th:field="*{email}">
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email is required</span>
    <br />

    <label for="phone">Phone: </label><br />
    <input type="tel" name="phone" th:field="*{phone}"><br /><br />

    <input type="submit" name="add" value="Add" />
  </form>
</body>
</html>